body {
  background-color: palegoldenrod;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
footer {
  text-align: center;
}
a {
  color: green;
}
footer a {
  margin: 0 10px;
}
.croissant-photo {
  max-width: 75%;
  display: block;
  border-radius: 10px;
  margin: 30px auto;
}
